%nav.pagy_nav.pagination{"aria-label" => "pager", :role => "navigation"}
  - if pagy.prev
    %a.page.prev{ href: url_for(_per_page: pagy.items, _page: pagy.prev || 1), id: "pagy-prev", "aria-label": "previous"}
      %i.icon-chevron-left
  - pagy.series.each do |item|       # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]
    - if item.is_a?(Integer)         # page link
      %a.page{ href: url_for(_per_page: pagy.items, _page: item), id:"pagy-#{item}", "aria-label": "page #{item}"}
        = item
    - elsif item.is_a?(String)       # current page
      %span.page.current= item
    - elsif item == :gap             # page gap
      %span.page.gap &hellip;
  - if pagy.next
    %a.page.next{ href: url_for(_per_page: pagy.items, _page: pagy.next || pagy.last), id:"pagy-next", "aria-label": "next"}
      %i.icon-chevron-right
